<fieldset>
    <legend>Create New Download</legend>
    <div class="control-group">
        <label class="control-label" for="file">Choose a file to upload</label>
        <div class="controls">
            <input type="hidden" name="MAX_FILE_SIZE" value="10000000" />
            <input name="file" type="file" required/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="viewable">Viewable</label>
        <div class="controls">
            <input type="checkbox" name="viewable"/>
        </div>
    </div>
</fieldset>