<fieldset>
    <legend>Create New Link</legend>
    <div class="control-group">
        <label class="control-label" for="caption">Caption</label>
        <div class="controls">
            <input type="text" name="caption" value="" class="input-xxlarge" required/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="href">URL</label>
        <div class="controls">
            <input type="url" name="href" value="" placeholder="http://www.example.com" class="input-xxlarge" required/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="title">Image Tooltip</label>
        <div class="controls">
            <input type="text" name="title" value="" class="input-xxlarge"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="target">Target</label>
        <div class="controls">
            <select name="target">
                <option value="_blank">Open in New Tab</option>
            </select>
        </div>
    </div>
</fieldset>