<fieldset>
    <legend>Create New Slider Item</legend>
    <div class="control-group">
        <label class="control-label" for="source">Image</label>
        <div class="controls">
            <input type="text" name="source" value="" class="input-xxlarge" required/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <input type="text" name="description" value="" class="input-xxlarge"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="link">Link</label>
        <div class="controls">
            <input type="url" name="link" value="" placeholder="http://www.example.com" class="input-xxlarge"/>
        </div>
    </div>
</fieldset>