    <tr>
        <td  colspan="2">
            <div class="form-horizontal">
                <button type="submit" name="action" value="save_order" class="btn">Save Order</button>
                &nbsp;
                <span title="Click and drag a row up or down to change it's order. To save your changes click on the 'Save Order' button"><i class="icon-question-sign"></i></span>
            </div>
        </td>
    </tr>