{% extends "app.twig" %}

{% block center_content %}
    <div class="center">
        <p>
            <h3 class="error">{{ ERROR_TITLE }}</h3>
            {{ ERROR_MSG }}
        </p>
        <p>
            Please contact us 
            using the details at the top or bottom of this page and let us know what
            happened so we can fix it.
        </p>
        <p>
            Thanks!
        </p>
    </div>
{% endblock %}