<div class="footer-container">
    <div style="padding: 10px;">
        <div class="footer-left">
            <div>LEFT LINE1 <span style="font-size: 0.7em;">small text1</span></div>
            <div>LEFT LINE2 <span style="font-size: 0.7em;">small text2</span></div>
            <div>LEFT LINE3 <span style="font-size: 0.7em;">small text3</span></div>
            <div style="padding-top: 5px;">
                <!-- Add Facebook/twitter/social media icons here -->
            </div>
            <div>site designed by <a href="mailto:{{ WEBMASTER }}">km</a></div>
        </div>

        <div class="footer-middle">
            <div><img src="/media/images/design/APP_LOGO.gif" alt="Logo"/></div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>Copyright &copy; {{ "now"|date("Y") }} {{ APP_NAME }}</div>
        </div>

        <div class="footer-right">
            <div>{{ APP_NAME|upper }}</div>
            <div>ADDRESS LINE 1</div>
            <div>ADDRESS LINE 2</div>
            <div>Tel (Day)  : 022-00000</div>
            <div>Tel (Night): 022-00000</div>
            <div>Fax        : 022-00000</div>
            <div>Email: company@theiremail.ie</div>
            <div>V.A.T. No. IE0000000 A</div>
        </div>
    </div>
</div>