<div class="menu-container">
    <ul id="nav" class="sf-menu">
        <!-- __MENU_ITEMS_START__ -->
        <li><a href='/'>Home</a></li>
        <li><a href='/gallery/'>Gallery</a></li>
        <li><a href='#' >Dropdown</a>
            <ul>
                <li><a href='/'>Submeu</a>
                    <ul>
                        <li><a href='/gallery/'>Gallery</a></li>
                        <li><a href='/downloads/'>Downloads</a></li>
                        <li><a href='/links/' >Links</a></li>
                    </ul>
                </li>
                <li><a href='/gallery/'>Gallery</a></li>
                <li><a href='/downloads/'>Downloads</a></li>
                <li><a href='/links/' >Links</a></li>
            </ul>
        </li>
        <li><a href='/downloads/'>Downloads</a></li>
        <li><a href='/links/' >Links</a></li>
        <!-- __MENU_ITEMS_END__ -->
    </ul>
</div>